<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.riverbeside.bilibili.mapper.AddressMapper">

    <resultMap id="addressRes" type="com.riverbeside.bilibili.entity.Address">
        <id column="aid" property="aid"/>
        <id column="province_name" property="provinceName"/>
        <id column="province_code" property="provinceCode"/>
        <id column="city_name" property="cityName"/>
        <id column="city_code" property="cityCode"/>
        <id column="area_name" property="areaName"/>
        <id column="area_code" property="areaCode"/>
        <id column="is_default" property="isDefault"/>
        <id column="created_user" property="createdUser"/>
        <id column="created_time" property="createdTime"/>
        <id column="modified_user" property="modifiedUser"/>
        <id column="modified_time" property="modifiedTime"/>
    </resultMap>

    <insert id="addAddress">
        insert into t_address( uid, name, province_name, province_code, city_name, city_code
                             , area_name, area_code, zip, address, phone, tel, tag, is_default, created_user
                             , created_time, modified_user, modified_time)
        VALUES (#{uid}, #{name}, #{provinceName}, #{provinceCode}, #{cityName}, #{cityCode}
                   , #{areaName}, #{areaCode}, #{zip}, #{address}, #{phone}, #{tel}, #{tag}, #{isDefault},
                #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>

    <select id="countAddressByUid" resultType="java.lang.Integer">
        select count(*) from t_address where uid=#{uid}
    </select>

    <select id="findByUid" resultMap="addressRes">
        select * from t_address where uid=#{uid} order by is_default desc,created_time desc
    </select>

    <select id="findByAid" resultMap="addressRes">
        select * from t_address where aid=#{aid}
    </select>

    <update id="setAllNoDefault">
        update t_address
        set is_default = 0
        where uid=#{uid}
    </update>

    <update id="setDefault">
        update t_address
        set is_default = 1,modified_time=#{modifiedTime},modified_user=#{username}
        where aid=#{aid}
    </update>

    <delete id="deleteAddress">
        delete
        from t_address
        where aid = #{aid}
    </delete>

    <select id="findLastModified" resultType="com.riverbeside.bilibili.entity.Address">
        select aid from t_address where uid=#{uid} order by modified_time desc limit 1
    </select>

</mapper>