<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.riverbeside.bilibili.mapper.ProductMapper">

    <resultMap id="productMap" type="com.riverbeside.bilibili.entity.Product">
        <id property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="itemType" column="item_type"/>
        <result property="sellPoint" column="sell_point"/>
    </resultMap>


    <select id="findHotProducts" resultMap="productMap">
        select *
        from t_product
        order by priority desc limit 10
    </select>


</mapper>